/* Lato Web font */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}


/* Document */

body {
  max-width: 40em;
  margin: 0 auto;
  padding: 2em 3em;
  padding-top: 0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  background-color: #fff;
  line-height: 1.5em;
}

h1, h2, h3 {
  margin: 2em 0 1em 0;
  line-height: 1.25em;
}

h1 {
  margin-top: 1.5em;
}

h4 {
  margin: 0.5em 0 0 0;
}

a {
  color: #369;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Code and jsFiddles */

iframe {
  display: none;
}

code.inline {
  padding: 2px 4px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 90%;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
}

p.operator {
  margin: 0.25em;
  color: #c00;
  text-align: center;
  font-weight: bold;
}

p.fiddle {
  margin: 1em 0;
}

p.fiddle a {
  color: #69c;
  font-weight: normal;
  text-decoration: underline;
}

p.error {
  color: #900;
  font-weight: bold;
}

div.output {
  margin-bottom: 1em;
  padding: 1em;
  padding-bottom: 0;
  border: solid 1px #ddd;
}

div.output h3 {
  margin: 0.25em 0;
}

em.grey {
  color: #999;
}


/* GitHub tag */

#github {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3.5em -3.5em 0 0;
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  line-height: 1.2em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#github a {
  display: inline-block;
  padding: 0.2em 3em;
  color: #fff;
}

#github span {
  margin-right: 0.3em;
}


/* Tablet-y */

@media only screen and (max-width: 770px) {

  /* Tighten */

  body {
    padding: 0 2em 2em 2em;
  }

  h1, h2, h3 {
    margin: 1.5em 0 0.75em 0;
  }

  h1 {
    margin-top: 1em;
  }

  div.output {
    overflow-x: scroll;
  }

  pre {
    font-size: 0.8em;
    line-height: 1.5em;
  }

  #github {
    margin: 2.85em 2.5em 0 0;
    border-radius: 5px;
    -webkit-transform: none;
    transform: none;
  }

  #github a {
    padding: 0.25em 1em 0.25em 0.8em;
  }

}


/* Phone-y */

@media only screen and (max-width: 550px) {

  /* Tighten */

  body {
    margin: 0;
    padding: 0 1em 1em 1em;
    font-size: 1.1em;
  }

  h1 {
    margin-top: 0.75em;
  }

  ul {
    padding-left: 1.25em;
  }

  #github {
    max-width: 7.25em;
    margin: 1.25em 1em 0 0;
    text-align: center;
  }

  #github a {
    padding-bottom: 0.3em;
  }

}
