html {
  background-color: #f5f2f0;
}

body {
  width: 40em;
  margin: 4em auto;
  padding: 3em;
  padding-top: 0.1em;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  background-color: #fff;
  line-height: 1.5em;
  border: solid 1px #e9e9e9;
}

h1, h2, h3 {
  margin: 2em 0 1em 0;
}

h4 {
  margin: 0.5em 0 0 0;
}

a {
  color: #369;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe {
  display: none;
}

code.inline {
  padding: 2px 4px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 90%;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
}

p.operator {
  margin: 0.25em;
  color: #c00;
  text-align: center;
  font-weight: bold;
}

p.fiddle {
  margin: 1em 0;
}

p.fiddle a {
  color: #69c;
  font-weight: normal;
  text-decoration: underline;
}

p.error {
  color: #900;
  font-weight: bold;
}

div.output {
  margin-bottom: 1em;
  padding: 1em;
  padding-bottom: 0;
  border: solid 1px #ddd;
}

div.output h3 {
  margin: 0.25em 0;
}

em.grey {
  color: #999;
}
