{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier"
  ],
  "ignorePatterns": [
    "dist/*"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
